*~
*.mo
*.pot
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/missing
/gnome-help/*/*.page
/gnome-help/*/*.stamp
/gnome-help/*/legal.xml
!/gnome-help/C/*.page
!/gnome-help/C/legal.xml
/system-admin-guide/*/*.page
/system-admin-guide/*/*.stamp
/system-admin-guide/*/*.xml
!/system-admin-guide/C/*.page
!/system-admin-guide/C/*.xml
