*~
*.mo
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/missing
/gnome-doc-utils.make
/gnome-help/de/*.page
/gnome-help/de/legal.xml
/gnome-help/de/figures/
/gnome-help/es/*.page
/gnome-help/es/legal.xml
/gnome-help/es/figures/
/gnome-help/fi/*.page
/gnome-help/fi/legal.xml
/gnome-help/fi/figures/
/gnome-help/gl/*.page
/gnome-help/gl/legal.xml
/gnome-help/gl/figures/
/gnome-help/hi/*.page
/gnome-help/hi/legal.xml
/gnome-help/hi/figures/
/gnome-help/sv/*.page
/gnome-help/sv/legal.xml
/gnome-help/sv/figures/
