<chapter id="configuring-accessibility" status="writing">
<title>Configuring Accessibility Tools</title>

<para>
This chapter outlines how to configure and establish preferences for GNOME accessibility tools.
</para>

<section>
<title>Orca Preferences</title>
<para>
When the <application>Orca</application> main window appears, the default button is <guilabel>Preferences</guilabel>; just press <keycap>Enter</keycap> and the GUI configuration dialog will appear. If you move control focus from this button, use <keycap>Alt-P</keycap> to open <guilabel>Preferences</guilabel> while the <application>Orca</application> main window has application focus.
</para>
<para>
To adjust <application>Orca</application> for your requirements, <keycap>Alt-Tab</keycap> to the <application>Orca</application> main window and press <keycap>Tab</keycap> by itself until <application>Orca</application> announces the <guilabel>Preferences</guilabel> button. Press <keycap>Enter</keycap> and you are presented with the GUI configuration dialog.
</para>
<note>
<para>
If you are using large print fonts, the entire <guilabel>Preferences</guilabel> configuration dialog may not fit on your screen. You may have to temporarily downsize to another theme or adjust your monitor resolution before effectively using the <guilabel>Preferences</guilabel> dialog.
</para>
<para>
[Orca may later employ a fully scrollable window (with both vertical and horizontal scroll bars) or the GNOME Desktop itself may add this windowing feature (perhaps by panelizing all child controls). This particular window behavior is currently developer-dependent.]
</para>
</note>
<para>
The GUI configuration dialog is made up of several sections, each denoted by a notebook tab at the top of the dialog. These tabs can be navigated with the left/right arrow keys when the tabstrip has focus. Press the down arrow or <keycap>Tab</keycap> to move from the tabstrip into the options area for the currently highlighted tab/section. To return to the tabstrip, use <keycap>Shift-Tab</keycap> until the tabstrip is selected again.
</para>

<section>
<title>Orca Preferences - General</title>
<para>
<emphasis>Keyboard Layout</emphasis> - this radio group offers two mutually-exclusive options for indicating which keyboard layout applies to you: Desktop or Laptop. To quickly access <application>Orca</application> functions an "Orca modifier key" is used as a shift-type key, to be used in conjunction with other keys meaningful to <application>Orca</application>. This modifier (also called a system, shift or host key) is the <keycap>Insert</keycap> key for the Desktop layout and the <keycap>Caps Lock</keycap> key for the Laptop layout. For example, to bring up the GUI configuration dialog would require <keycap>Insert + Space</keycap> with the Desktop layout, or <keycap>Caps Lock + Space</keycap> when using the Laptop layout.
</para>
<para>
<emphasis>Show Orca main window</emphasis> - if enabled, the <application>Orca</application> application window will be shown in typical desktop Z-order and can be acessed with <keycap>Alt-Tab</keycap>. This provides access to the GUI configuration dialog and some other functionality, such as quitting <application>Orca</application>. If unchecked, no program window is displayed and all <application>Orca</application> functionality is achieved through keyboard or other means. Experienced users will likely prefer the window not shown, to avoid encountering it unnecessarily while using <keycap>Alt-Tab</keycap> or other window navigation methods.
</para>
<para>
<emphasis>Quit Orca without confirmation</emphasis> - if checked, <application>Orca</application> will shut down without prompting to be sure the action was intended. If unchecked, <application>Orca</application> will always confirm any action that would quit <application>Orca</application> services.
</para>
<para>
<emphasis>Disable gksu keyboard grab</emphasis> - checking this option will allow <application>Orca</application> to provide an accessible login. Disallowing the gksu keyboard grab also allows malicious software to observe everything you type, including login names and passwords, so be aware your security is somewhat reduced with this option enabled. 
</para>
<para>
<emphasis>Present tooltips</emphasis> - if enabled, <application>Orca</application> will relay all application tooltips (balloon help messages), regardless of tooltip settings elsewhere. This is a global override option.
</para>
</section>

<section>
<title>Orca Preferences - Speech</title>
<para>
<emphasis>Enable Speech (Alt-E)</emphasis> - check this option to make use of speech functionality. If unchecked, the other controls in this section will be disabled, as their settings are not relevant without speech being enabled. 
</para>
<para>
If speech is enabled, there are several additional settings which you can adjust:
</para>
<para>
<emphasis>Speech System (Alt-S)</emphasis> - If you have additional hardware or software speech services, they can be selected here. Otherwise the only setting is GNOME Speech Services (the default, always-available option). 
</para>
<para>
<emphasis>Speech Synthesizer (Alt-Z)</emphasis> - If you have additional hardware or software speech synthesizers, they can be selected here. Otherwise the only setting is the eSpeak GNOME Speech Driver (the default, always-available option). 
</para>
<para>
<emphasis>Voice Settings (Alt-V)</emphasis> - you can select among three options: Default, Uppercase or Hyperlink. [todo: differences]
</para>
<para>
<emphasis>Person (Alt-P)</emphasis> - depending on the source language, a multitude of vocal personalities may exist, allowing for variation in regional accent and dialectal enunciation.
</para>
<para>
<emphasis>Rate (Alt-R)</emphasis> - this setting effectively sets how fast words are spoken. After some familiarity and attunement, you may be able to increase this setting, achieving more feedback in less time. 
</para>
<para>
<emphasis>Pitch (Alt-T)</emphasis> - this setting is used to raise or lower the vocal tonality of speech. Adjust pitch to complement your other settings for best tonal clarity.
</para>
<para>
<emphasis>Volume (Alt-L)</emphasis> - this setting is used to raise or lower the speech volume relative to the main sound mixer, with 9.0 equalling current maximum system volume.
</para>
<para>
<emphasis>Punctuation Level</emphasis> - this radio group determines the amount of punctuation spoken: None (Alt-N), Some (Alt-M), Most (Alt-O) or All (Alt-A).
</para>
<para>
<emphasis>Verbosity</emphasis> - this radio group determines the amount of verbal feedback [todo: expand]: Brief (Alt-B) or Verbose (Alt-B).
</para>
<para>
<emphasis>Table Row Speech</emphasis> - this radio group specifies whether an individual Cell (Alt-C) is spoken or the entire Row (Alt-R) when navigating cell/row table structures.
</para>
</section>

<section>
<title>Orca Preferences - Braille</title>
<para>
<emphasis>Enable Braille support (Alt-S)</emphasis> - Braille output support can be set on or off. When enabled, the additional options below are made available.
</para>
<para>
<emphasis>Enable Braille monitor (Alt-M)</emphasis> - Braille output can be represented on-screen; this is usually used to help development testing.
</para>
<para>
<emphasis>Abbreviated role names (Alt-A)</emphasis> - this option will reduce the number of Braille cells required to label user-interactive controls such as text fields, buttons, sliders, etc. For example, "slider" would be abbreviated to "sldr."
</para>
<para>
<emphasis>Enable contracted Braille (Alt-E)</emphasis> - if checked, also supply a contraction table (Alt-T) to be used.
</para>
<para>
<emphasis>Verbosity</emphasis> - determines how much Braille output is produced in certain situations. For example, Verbose (Alt-B) will display keyboard shortcut and role name 
information, whereas Brief (Alt-F) will not.
</para>
<para>
<emphasis>Selection indicator</emphasis> - determines the Braille arrangement for indicating a user selection: None (Alt-N), Dot-7 (Alt-7), Dot 8 (Alt-8), or Dot 7-and-8 (Alt-D).
</para>
</section>

<section>
<title>Orca Preferences - Key Echo</title>
<para>
<emphasis>Enable key echo (Alt-K)</emphasis> - speaks keys as you type them. The remaining options in this section can only be set if key echo is enabled.
</para>
<para>
<emphasis>Enable alphanumeric and punctuation keys (Alt-A)</emphasis> - determines if letter, number and punctuation characters are echoed as you type them.
</para>
<para>
<emphasis>Enable modifier keys (Alt-M)</emphasis> - determines if <keycap>Shift</keycap>, <keycap>Ctrl</keycap>, <keycap>Alt</keycap>, etc. keys are echoed when pressed.
</para>
<para>
<emphasis>Enable locking keys (Alt-G)</emphasis> - determines if the <keycap>Caps Lock</keycap>, <keycap>Scroll Lock</keycap>, or 
<keycap>Num Lock</keycap> keys are echoed when pressed.
</para>
<para>
<emphasis>Enable function keys (Alt-F)</emphasis> - determines if <keycap>F1</keycap> - <keycap>F12</keycap> are announced when they are pressed.
</para>
<para>
<emphasis>Enable action keys (Alt-T)</emphasis> - determines if logical action keys are announced when they are pressed; these include 
<keycap>Backspace</keycap>, <keycap>Return</keycap> and <keycap>Tab</keycap>.
</para>
<para>
<emphasis>Enable navigation keys (Alt-N)</emphasis> - determines if navigation keys are announced when they are pressed; these include arrow keys as well as <keycap>Home</keycap>, <keycap>End</keycap>, <keycap>Page Up</keycap>, etc.
</para>
<para>
<emphasis>Enable echo by word (Alt-W)</emphasis> - determines if whole words are spoken as you type them, rather than character by character.
</para>
</section>

<section>
<title>Orca Preferences - Magnification</title>
<para>
<emphasis>Enable magnifier (Alt-M)</emphasis> - sets whether the magnifier is active or not.
</para>
<para>
<emphasis>Scale factor (Alt-F)</emphasis> - sets the amount of magnification.
</para>
</section>

</section>

<section>
<title>MouseTweaks - Mouse Accessibility Enhancements</title>
<para>
Additional accessibility options related to mouse-type pointing devices can be adjusted by using <menuchoice><guimenuitem>System</guimenuitem><guimenuitem>Preferences</guimenuitem><guimenuitem>Mouse</guimenuitem></menuchoice> and selecting the <guilabel>Accessibility</guilabel> tab. There are two modes to aid mouse usage; in the first, the click type is chosen beforehand by using the <guilabel>ClickType</guilabel> window or the <guilabel>Dwell Click</guilabel> panel applet. In the second mode, click-type is 
determined by the direction in which the user moves the mouse after the dwell time has elapsed. There is only a determined amount 
of time to move the mouse to indicate the click type; after that time has elapsed the pointer movement does not trigger a click until after 
the dwell time of the next pointer stop. The following options describe how to configure the controls in the <guilabel>Accessibility</guilabel> tab.
</para>
<para>
The <application>Dwell Click</application> panel applet can be enabled by right-clicking the GNOME Desktop menu bar / system panel, selecting <guilabel>Add to Panel</guilabel>, choosing <application>Dwell Click</application> and clicking the <guilabel>Add</guilabel> button.
</para>
<para>
<emphasis>Trigger secondary click (Alt-T)</emphasis> - a secondary click can be issued by using the primary button and keeping it held down for a specified delay (Alt-D).
</para>
<para>
<emphasis>Initiate click when stopping pointer movement (Alt-I)</emphasis> - a "dwell click" can be performed with a given delay (Alt-E) and motion threshold (Alt-M). The type of click may optionally be set beforehand (Alt-B); otherwise the ClickType floating window (Alt-W) or Dwell Click panel applet can be used to indicate click-type (single, double, drag or right). Lastly, mouse direction movement can also specify the click type to be issued (Alt-U) - eg, moving the mouse left will result in a single click by default, or you may specify which direction equals what type of click.
</para>
</section>
</chapter>
